langchain
langchain_core
langgraph
pypdf
google.generativeai
google.genai
chromadb
langchain_tavily
langchain_google_genai
streamlit
Pillow

#testing tools
langchain-community
ddgs

fastapi
requests
uvicorn