langchain
langchain_core
langgraph
pypdf
google.generativeai
google.genai
chromadb
chromadb-client
langchain_tavily
langchain_google_genai
streamlit

#testing tools

fastapi
requests
uvicorn

pysqlite3-binary

duckduckgo-search
langchain-community